{
  "extends": ["react-app", "eslint:recommended", "plugin:jsx-a11y/recommended"],
  "plugins": ["prettier", "jsx-a11y"],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "no-shadow": "error"
  }
}