---
layout: archive
permalink: /
title: "Artistic Statement"
---
Ethnic humanity is my subject matter and a source of my inspiration. My figurative images depict life of indigenous cultures that record primitive life with an ethnological perspective. Experiencing different cultures has helped me to realize there is not one way of living, but thousands.

<h1>Latest Additions</h1>

{% assign cateogry-length = site.categories | size %}
{% assign cateogry-length = cateogry-length | minus: 1 %}
{% assign cateogry-length = site.front-page-posts | divided_by: cateogry-length %}

<div class="tiles">
{% for cat in site.categories %}
	{% assign category-name = cat[0] %}
	{% include categorie-grid.html category=category-name length=cateogry-length root=true %}
{% endfor %}
</div>