<span class="breadcrumbs">
  {% assign categories = page.url | remove_first: '/' | split: '/' %}
  {% for categorie in categories %}
    {% assign current-path = current-path | append: categorie | append: '/' %}
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      {% assign current-title = categorie | replace: '-',' ' | capitalize %}
      {% if forloop.last != true %} <a href="{{ site.url }}/{{ current-path }}" itemprop="url"> {% endif %}
      {% if forloop.last != true %}
        <span itemprop="title">{{ current-title }}</span>
      {% else %}
        <span itemprop="title">{{ page.title }}</span>
      {% endif %}
      {% if forloop.last != true %} </a> › {% endif %}
    </span>
  {% endfor %}
</span><!-- /.breadcrumbs -->
