<span class="breadcrumbs">
  {% assign categories = page.url | split: '/' %}
  {% for category in categories offset: 1 %}
    {% assign current-path = current-path | append: category | append: '/' %}
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      {% assign current-title = category | replace: '-',' ' | capitalize %}
      {% if forloop.last != true %} <a href="{{ site.url }}/{{ current-path }}" itemprop="url"> {% endif %}
      <span itemprop="title">{{ current-title }}</span>
      {% if forloop.last != true %} </a> › {% endif %}
    </span>
  {% endfor %}
</span><!-- /.breadcrumbs -->
