{% capture category_name %}{{ page.categories | first }}{% endcapture %}
{% assign cat-list = site.categories.[category_name] %}

{% for post in cat-list %}
    {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
    {% endif %}
{% endfor %}
{% for post in cat-list %}
    {% if post_index0 == forloop.index and post.folder == nil %}
        {% assign next_post = post.url %}
    {% endif %}
    {% if post_index1 == forloop.index0 and post.folder == nil %}
        {% assign prev_post = post.url %}
    {% endif %}
{% endfor %}