<div class="row">
  <a class="col col-lg-3 col-xl-2 mr-2 ml-1 btn btn-outline-dark"
     role="button"
     href="https://twitter.com/intent/tweet?text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url }}&amp;via={{ site.author.twitter }}"
     target="_blank"
  >
     <i class="fab fa-twitter" aria-hidden="true"></i>
     Share on Twitter
  </a>
  <a class="col col-lg-3 col-xl-2 mr-1 btn btn-outline-dark"
     role="button"
     href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url }}"
     target="_blank"
  >
    <i class="fab fa-facebook-f" aria-hidden="true"></i>
    Share on Facebook
  </a>
</div>
