@import "variables";
@import "bootstrap";

h1, h2, h3 {
  font-family: "Indie Flower",cursive;
  font-weight: bold;
}

h2 {
  margin: 1.5rem 0;
}

hr {
  margin: 3rem 0;
}

.card {
  border: none;
}

#site-footer {
  margin-top: 4.5rem;
  font-size: 0.75rem;
  padding-bottom: 2rem;
}

.table thead th {
  border-top: 0;
}

.page-meta {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

.load {
  visibility: hidden;
}

.grid {
  margin: 0 auto;
  .grid-item {
    margin-bottom: 16px;
  }

  .grid-item {
    width: 100px;
  }

  @include media-breakpoint-up(md) {
    .grid-item {
      width: 200px;
    }
  }
}



