@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.lisbeth-hamlin {
  h1, h2, h3 {
    font-family: "Andada Pro", serif;
  }

  h1 {
    font-weight: bold;
  }
  
  h2 {
    margin: 1.5rem 0;
  }
  
  hr {
    margin: 3rem 0;
  }
  
  a {
    color: #000;
    background-color: transparent;
  }
  a:not(.nav-link, .navbar-brand):hover {
    color: #000;
    text-decoration: underline;
  }

  .photo-gallery {
    margin-bottom: 1rem;
    
    @supports (grid-template-rows: masonry) {
      display: grid;
      justify-content: center;
      
      grid-template-rows: masonry;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;

      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(auto-fit, $column-width);
      }
    }

    @supports not (grid-template-rows: masonry) {
      column-gap: 1rem;
      column-count: 2;

      @include media-breakpoint-up(md) {
        column-count: auto;
        column-width: $column-width;
      }
      .grid-item {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: 1rem;
        break-inside: avoid;
      }
    }
  }

  footer {
    vertical-align: middle;

    .links {
      a {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
  
      .rss {
        color: rgb(234,120, 25);
      }
    }
  }
}

.pswp__custom-caption {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  color: #fff;
  width: calc(100% - 32px);
  max-width: 400px;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;

  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);

  a {
    color: #fff;
    text-decoration: underline;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

.hidden-caption-content {
  display: none;
}