---
layout: archive
title: Art Shows
hide_title: true
---

<div id="show-root" class="load">
  <h1>Current {{page.title}}</h1>
  <div id="current-shows" class="bullets">
    {% for post in site.posts reversed limit:10 %}
      <div class="bullet three-col-bullet" data-time="{{post.end_date | date: '%s'}}">
        <a href="{{ site.url }}{{ post.url }}">
          <div class="center">
            <i class="fa fa-calendar fa-3x"></i>
          </div>
        </a>
        <div class="bullet-content">
          <h2><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{ post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
        </div>
      </div>
    {% endfor %}
  </div><!-- /.bullets -->
  <p>
    <span id="no-current-shows-message" class="hidden">
      I currently do not have any art shows.
    </span>
    To receive email notifications about my upcoming art shows, please sign up below:
  </p>
  {% include feed-subscribe.html %}
<h2>Previous {{page.title}}</h2>
  <div id="previous-shows" class="bullets"></div>
</div>
