---
layout: art-shows
title: Current Art Shows
---

<div id="show-root" class="load">
  <div id="current-shows" class="row row-cols-md-3 row-cols-1"></div><!-- /.bullets -->
  <p>
    <span id="no-current-shows-message" class="hidden">
      I currently do not have any art shows.
    </span>
    To receive email notifications about my upcoming art shows, please sign up below:
  </p>
  {% include feed-subscribe.html %}
  <h2>Previous Art Shows</h2>
  <div id="previous-shows">
    <div class="row row-cols-md-3 row-cols-1">
      {% for post in site.posts limit: 4 %}
        <div class="col mb-4">
          <div class="card text-center" data-time="{{post.end_date | date: '%s'}}">
            <a href="{{ site.url }}{{ post.url }}">
              <i class="far fa-calendar-alt fa-4x"></i>
            </a>
            <div class="bullet-content">
              <h3 class="h4"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
              <p>{{ post.excerpt | remove: '<p>' | remove: '</p>'}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
