---
layout: default
---

<article itemscope itemtype="http://schema.org/Article">
  <h1>
    {% if page.categories %}
      {% include breadcrumbs.html %}
    {% else %}
      {{ page.title }}
    {% endif %}
  </h1>
  {{ content }}
  <hr />
  <footer class="page-footer">
    {% if page.share != false %}{% include share-this.html %}{% endif %}
    {% include page-meta.html %}
  </footer><!-- /.footer -->
  {% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
</article><!-- ./wrap -->
