---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.name }}</title>
    {% if page.excerpt %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% elsif site.description %}
      <meta name="description" content="{{ site.description | strip_html }}">
    {% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
    {% endif %}
    {% include open-graph.html %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    {% feed_meta %}
    <link href="{{ '/sitemap.xml' | absolute_url }}" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ '/favicon.png' | absolute_url }}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.12.0/css/all.min.css">
    <link rel="stylesheet" href="{{ '/css/main.css' | absolute_url }}">
  </head>

  <body>
    <div class="container">
      {% include noscript.html %}
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>

    <script nomodule src="{{'/js/system/runtime.js' | absolute_url}}"></script>
    {% if layout.jsModules %}
      {% for module in layout.jsModules %}
        <script type="module" src="{{module | prepend: '/js/es/' | append: '.js' | absolute_url }}"></script>
        <script nomodule src="{{module | prepend: '/js/system/' | append: '.js' | absolute_url }}"></script>
        <script nomodule>
          System.import("{{module | prepend: '/js/system/' | append: '.js' | absolute_url }}");
        </script>
      {% endfor %}
    {% endif %}
    {% include tracking.html %}
  </body>
</html>
