---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.name }}</title>
    {% if page.excerpt %}
      <meta name="description" content="{{ page.excerpt | strip_html }}">
    {% elsif site.description %}
      <meta name="description" content="{{ site.description | strip_html }}">
    {% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if page.author %}
      {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
    {% endif %}
    {% include open-graph.html %}

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    {% feed_meta %}
    <link href="{{ '/sitemap.xml' | absolute_url }}" type="application/xml" rel="sitemap" title="Sitemap">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{{ '/favicon.png' | absolute_url }}" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">
    <link rel="stylesheet" href="{{ '/css/main.css' | absolute_url }}">
  </head>

  <body>
    <div class="container">
      {% include noscript.html %}
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=Promise%2CArray.prototype.findIndex"></script>
    <script src="https://unpkg.com/systemjs@6.6.1/dist/s.min.js"></script>
    <script>System
      .import("{{'app' | prepend: '/js/bundle/' | append: '.js' | absolute_url }}")
      .catch(function(e) { console.error(e); })
    </script>
    {% include tracking.html %}
  </body>
</html>
