---
layout: default
---

<div id="main" role="main">	
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		{% include breadcrumbs.html %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
		</div>
		<div class="inner-wrap">
			<nav class="toc"></nav><!-- /.toc -->
			<div id="content" class="page-content" itemprop="articleBody">
				{% for cat in site.categories %}
					{% if cat[0] == page.categories[0] %}
						{% assign cat-list=cat[1] %}
						{% break %}
					{% endif %}
				{% endfor %}

				{% include next-category-post.html list=cat-list %}

				{% if next_post %}
					{% include icon-button.html link=next_post text="Previous" class="fa fa-arrow-left" style="margin-right: 1em;" %}
				{% endif %}

				{% if prev_post %}
					{% include icon-button.html link=prev_post text="Next" class="fa fa-arrow-right" %}
				{% endif %}
			
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- /.wrap -->
</div><!-- /#main -->